/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}


/*Actual css*/
body{
	background-image: url("../img/achtergrond2.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
	font-family: sans-serif;
	color: #3f3f3f;

}
header{
	width: 100%;
	min-height: 75px;
	height: 120px;
	margin-bottom: 15px;
}
#logo{
	margin-left: 0px;
	background-color: rgba(240, 240, 240, 0.85);
	height: 115px;
}
#logo > svg{
	margin-top: 10px;
	margin-left: 10px;
	width: 350px;
}
#wrapper{

}
main{
	width: 80%;
	margin: 0 auto;
	padding-bottom: 50px;
	background-color: rgba(240, 240, 240, 0.85);
	min-height: 87vh;

}
main > h1{
	font-size: 28px;
	text-align: center;
	font-weight: bold;
}
main > p{
	font-size: 20px;
	line-height: 30px; 
	/*padding-top: 20px;*/
	width: 800px;
	border-radius: 3px;
	margin: 0 auto;
	text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    background-color: #efefef;
    padding: 20px 50px;
    display: none;
}
article{
	width: 80%;
	min-height: 700px;
	border-radius: 3px;
	/*background-color: rgba(136,188,86, .75);*/
	background-color: rgba(240, 240, 240, 0.5);
	display: inline-block;
	text-align: center;
	padding-bottom: 25px;
	margin: 0 auto;
	margin-top: 10px;
	-moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
	-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
	box-shadow: 0px 2px 4px rgba(0,0,0,0.18);

	/*
	-moz-box-shadow:    0px 1px 2px 1px grey;
	-webkit-box-shadow: 0px 1px 2px 1px grey;
	box-shadow:         0px 1px 2px 1px grey;*/
}
article > h2{
	margin-top: 25px;
	font-size: 36px;
	font-weight: 800;
	text-shadow: 0px 0px 2px rgba(136, 188, 86, 0.9);
}
article > div.image{
	width: 250px;
	height: 300px;
	background-color: grey;
	margin: 25px auto;
	position: relative;
	resize: vertical;

	border-radius: 3px;
}
article > div.image > img{
	width: 250px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
article > h3{
	font-size: 28px;
	font-weight: 800;
	margin-bottom: 25px;
	text-shadow: 0px 0px 1px rgba(136, 188, 86, 0.9);
}
article > ul{
	list-style-type: disc;
}
article > ul li{
	margin-bottom: 10px;
	font-weight: 600;
}
article#solidariteit{
	margin-left: 10%;
	min-height: 750px;
}
article#wereldwinkel{
}

article > a.button{
	margin-top: 25px;
	display: inline-block;
	border-radius: 5%;
	background-color: lightgrey;
	padding: 10px 25px;
}
footer{
	min-height: 20px;
	line-height: 20px;
	width: 100%;
	background-color: rgba(136,188,86, .50);
	/*margin-top: 25px;*/
	text-align: right;
}
footer > p{
	margin-right: 25px;
}

/*input*/
label{
	font-size: 18px;
}
input{
	font-size: 16px;
}
/*Tabel*/
table{
	width: 800px;
	background-color: lightgrey;
	opacity: .8;
	margin: 0 auto;
	font-size: 22px;
	line-height: 22px;
}
table th{
	font-weight: bold;
	padding: 10px;
	background-color: darkgrey;
	text-shadow: 0px 0px 2px rgba(240, 240, 240, 0.9);
	width: 400px;
	border: 2px solid black;
}
table td{
	border: 1px solid black;
}	
tr:nth-child(even) {background: rgba(136,188,86, .20)}
tr:nth-child(odd) {background: #FFF}
td.opzoeken:hover{
	cursor: pointer;
}
table tr.priceHeaderRow, table tr.lastPriceRow{
	background-color: grey;
	color: white;
}

@media only screen and (min-width: 1300px) {
	header{
		width: 100%;
		min-height: 75px;
		height: 100px;
	}
	#logo{
		margin-left: 0px;
		background-color: rgba(240, 240, 240, 0.85);
		height: 115px;
	}
	#logo > img{
		margin-top: 10px;
		margin-left: 10px;
		width: 350px;
	}
	table{
		font-size: 16px;
	}


} 
@media only screen and (max-width: 1290px) {
	header{
		width: 100%;
		height: 0px;
		display: none;
	}
	#logo{
		height: 0px;
	}
	#logo > img{
		width: 0px;
	}
	table{
		font-size: 12px;
		line-height: 16px;
	}

} 